/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(167, 201, 87);
  margin: 0;
  padding: 0;
}

/* Header */
.logo {
  margin-bottom: 10px;
  position: relative;
  top: 20px;
}
.titulo {
  font-family: 'Imperial Script', cursive;
  font-size: 98px;
  color: black;
  position: relative;
  top: 10px;
}
.frase {
  font-family: 'IM FELL DW Pica', serif;
  color: rgba(80, 119, 45, 0.693);
  font-size: 40px;
  margin-top: -10px;
}

/* Navigation */
.b1, .b2, .b3 {
  font-family: 'IM FELL DW Pica', serif;
  font-size: 30px;
  color: rgb(79, 119, 45);
}
.b1 {
  margin-right: 20px;
}
.b2 {
  margin-right: 20px;
}
.b3 {
  margin-right: 20px;
}

/* Content Areas */
.area, .area2 {
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}
.area img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.area2 ul {
  list-style: none;
  padding: 0;
}
.area2 li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #F1F1F1;
  padding: 10px;
  font-size: 16px;
}
