
.cuadrado{
    position: absolute;
    width: 140%; 
    height: 30%;
    left: 0;
    top: -5%;
    font-size: 20px; 
  background-color:rgb(255, 255, 255)
}
body{
    background: rgb(167, 201, 87);
    }
    .cuadrado2{
        position: absolute;
        width: 140%; 
        height: 166px;
        left: 0;
        top: 400%;
        font-size: 20px; 
      background-color:rgb(255, 255, 255)
    }
    .titulo{
        font-family: 'Imperial Script';
        src: url('fonts/imperial-script.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        color: black;
        font-size: 90px; 
        position: absolute;
        width: 10px;
        height: 76px;
        left: 5%;
        top: -2%;

    }
    .frase{
        font-family: 'IM FELL DW Pica';
        color: rgb(79, 119, 45);
                font-size: 40px; 
                position:absolute;
                width: 80%;
                height: 76px;
                left: 5%;
                top: 15%;
        
            }
                .b1{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 30%;
                    top: 5%;

                }
                .b2{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 40%;
                    top: 5%;

                }
                .b3{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 50%;
                    top: 5%;
                }
               
                .carousel-item img {
                  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor*/
                  height: auto; /* Mantiene la relación de aspecto de la imagen */
                }
                #carouselExampleIndicators {
                    width: 80%;
                    top: 151px;
                    left: -232px;
                    max-width: 800px;
                    margin: auto;
                  }
              
                 .ip{/* imagen proceso */
                        position: relative;
                        top:200px;
                        left: 50%;
                        width: 100%;
                        height: auto;
                 }

                 .pi{/*proceso info */
                    position: absolute;
                    border-radius: 10%;
                    width: 40%; 
                    height: 85%;
                    left: 20px;
                    top: 700px;
                    font-size: 20px; 
                  background-color:rgb(255, 255, 255)

                 }
                 p{

                    font-family: 'IM FELL DW Pica';
                    position:absolute;
                    left: 2%;

                 }