
.cuadrado{
    position: absolute;
    width: 200%; 
    height: 30%;
    left: 0;
    top: -5%;
    font-size: 20px; 
  background-color:rgb(255, 255, 255)
}
body{
    background: rgb(88, 187, 67);
    }
    .cuadrado2{
        position: absolute;
        width: 200%; 
        height: 166px;
        left: 0;
        top: 400%;
        font-size: 20px; 
      background-color:rgb(255, 255, 255)
    }
    .titulo{
        font-family: 'Imperial Script';
        src: url('fonts/imperial-script.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        color: black;
        font-size: 90px; 
        position: absolute;
        width: 10px;
        height: 76px;
        left: 5%;
        top: -2%;

    }
    .frase{
        font-family: 'IM FELL DW Pica';
        color: rgb(79, 119, 45);
                font-size: 40px; 
                position:absolute;
                width: 80%;
                height: 76px;
                left: 5%;
                top: 15%;
        
            }
                .b1{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 45%;
                    top: 5%;

                }
                .b2{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 60%;
                    top: 5%;

                }
                .b3{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 50px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 75%;
                    top: 5%;
                }
                 .ic{
                    position: relative;
                    top: 145px;
                    width: 100%;
                    margin: 0 auto;             
                 }
                 .ip{
                        position: relative;
                        top: 100px;
                        left: 50%;
                 }

                 .pi{
                    position: absolute;
                    width: 40%; 
                    height: 80%;
                    left: 20px;
                    top: 170%;
                    font-size: 20px; 
                  background-color:rgb(255, 255, 255)
                 }
                 p{

                    font-family: 'IM FELL DW Pica';
                    position:absolute;
                    left: 2%;

                 }