
.cuadrado{
    position: absolute;
    width: 100%; 
    height: 30%;
    left: 0;
    top: -5%;
    font-size: 20px; 
  background-color:rgb(255, 255, 255)
}
body{
    background: rgb(88, 187, 67);
    }
    .cuadrado2{
        position: absolute;
        width: 100%; 
        height: 35%;
        left: 0;
        top: 119%;
        font-size: 20px; 
      background-color:rgb(255, 255, 255)
    }
    .titulo{
        font-family: 'Imperial Script';
        src: url('fonts/imperial-script.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        color: black;
        font-size: 90px; 
        position: absolute;
        width: 10px;
        height: 76px;
        left: 5%;
        top: -2%;

    }
    .frase{
        font-family: 'IM FELL DW Pica';
        color: rgba(80, 119, 45, 0.693);
                font-size: 30px; 
                position:absolute;
                width: 80%;
                height: 76px;
                left: 0px;
                top: 15%;
        
            }
                .b1{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 40px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 45%;
                    top: 15%;

                }
                .b2{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 40px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 60%;
                    top: 15%;

                }
                .b3{
                    font-family: 'IM FELL DW Pica';
                    color: rgb(79, 119, 45);
                    font-size: 40px; 
                    position:absolute;
                    width: 80%;
                    height: 76px;
                    left: 75%;
                    top: 8%;
                }
            .top{
                position: relative;
                top: 146px;
            }
            .logo{
                    position: relative;
                    top: 30px;
                    left: 350px ;
            }
            .contacto{
                position: relative;
                top: -200px ;
                left: 2% ;
            }

            .logo1{
                position: relative;
                top: -20px;
                left: 90%;
            }
            
            .logo4{
                position: relative;
                top: -20px;
                left: 70%;
            }
       